@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

body {
  background-color: black;
  width: 1150px;
  margin: auto;
}

.aiLogo {
  width: 120px;
}
li {
  margin: 0 20px;
  cursor: pointer;
}

li:hover {
  cursor: pointer;
  color: #475569;
  transform: scale(1.1);
  transition: transform 0.2s ease;
}
.navButton {
  @apply w-24 h-11;
}
button {
  margin-top: 15px;
  padding: 0 10px;
  border-radius: 50px;
  background-color: #3498db;
}

button:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease;
}
#ai {
  margin: auto;
}
#hero,
#hero1,
#hero2,
#hero3 {
  box-shadow: 0px 0px 20px 1px #ffbb763f;
  border: 1px solid rgba(255, 255, 255, 0.454);
}
#hero:hover,
#hero1:hover,
#hero2:hover,
#hero3:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease;
  margin: 5px;
}
.scroll-container {
  overflow-x: auto; 
  white-space: nowrap; 
  scrollbar-width: none; 
  width: calc(100% - 20px);
  max-width: calc(5 * (200px + 10px));
}
.scroll-container::-webkit-scrollbar {
  display: none;
}
.card {
  display: inline-block;
  width: 200px;
  margin-right: 10px;
}

